.custom-title {
  font-family: 'Slabo 27px', serif;
}

.instructions {
  max-width: 650px;
  text-align: justify;
  font-size: 19px;
}

.instructions_questionnary {
  max-width: 800px;
  text-align: justify;
  font-size: 19px;
  margin-left: auto;
  margin-right: auto;
}

.bold {
  font-weight: 550;
}

.stimuli {
  font-size: 20px;
}


/* Hide the star indicating required questions */
span.required {
  display: none !important;
}

/* Does not work. FYI, it uses a # because in the HTLM it is a div id and not div class */
#jspsych-html-slider-response-stimulus p {
  text-align: left;
  margin-left: 20px; /* Adjust the margin as needed */
}

#jspsych-html-slider-response-container {
  text-align: left !important;
}

.jspsych-html-slider-response-label-container {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Make sure labels cover the full width of the slider */
}

.jspsych-html-slider-response-label {
  text-align: left; /* Left-align the labels */
}